<h1>Sign up!</h1> 
<form action='/signup' method="post">
Username: <input type="text" name="username"> 
Password: <input type="text" name="password"> 
<input type="submit" value="Sign up"> 
</form> 

<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />