<h1> Edit Videogame </h1> 

<form action ="/videogames/<%= @videogame.id %>" method="POST">
<input id="hidden" type="hidden" name="_method" value="PATCH">
  <strong>Title:</strong><input type="text" name="title" value="<%= @videogame.title %>">
  <strong>Details:</strong><textarea type="text" name="details" value="<%= @videogame.details %>"></textarea>
  <input type="submit" value="submit" id="submit">
</form>

<link href="<%= url('/style.css') %>" rel="stylesheet" type="text/css" />