<form action='/videogames' method="post"
<label>Title</label>
<input type="text" name="title">
<br><br>
<label>Details</label> 
<input type="text" name="details"> 
<input type="submit" value="Submit">
</form> 