<strong>Title:</strong> <%= @videogame.title %>
<br>
<strong>Details:</strong> <%=@videogame.details%>
<br><br>

<a href='/videogames'>Back to Games</a> 
<br><br>
<form action="/videogames/<%= @videogame.id %>/delete" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Videogame" id="Delete Videogame">
</form>

 <form action="/videogames/<%=@videogame.id%>/edit" method="get">
  <input type="submit"  id = "submit" value="Edit Videogame">
</form>